# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

vicNl

.DS_Store
DEPEND
.depend
vicNl

.tags
.tags_sorted_by_file
.ipynb_checkpoints/
